<center> <img SRC="CarAnalysis.jpg" align="center"/> </center>
<center> <h1 style="color : #191970"> Análisis Automotriz </h1> </center>
<center> <h2 style="color : #778899"> Total de Casos Resueltos </h2> </center>
<center> <h3 style="color : #483D8B"> Octubre 2021 – Noviembre 2021 </h3> </center>

<p style="text-aling: justify"> El siguiente análisis es un recurso importante para la rendición de cuentas y transparencia de casos trabajados en Automotive. El informe proporciona una cifra completa de los casos resueltos por los agentes de servicio al cliente y el promedio en calidad de las transacciones que fueron evaluadas durante los meses de Octubre y Noviembre del año 2021.</p>

In [74]:
<h3 style="color: #00008B">1.1 Importación de Librerías</h3>

SyntaxError: invalid syntax (<ipython-input-74-9c5da4f0eef6>, line 1)

In [75]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mplt

In [76]:
<h3 style="color: #00008B">1.2 Carga de Archivos de Datos</h3>

SyntaxError: invalid syntax (<ipython-input-76-a3602974fc90>, line 1)

In [77]:
cols = ["QA Rating", "QA Score", "Case Number", "Date", "Type", "Case Reason", "Status"]

dataset = pd.read_csv("datosdecasos.csv", names=cols)

In [78]:
dataset.shape

(12938, 7)

In [79]:
dataset.head(5)

,QA Rating,QA Score,Case Number,Date,Type,Case Reason,Status
0,NaN,NaN,22889538,10/25/2021 12:14,AIE Support,Account Management,Deferred
1,NaN,NaN,22822766,10/7/2021 13:24,AIE Support,Account Management,On Hold - Pending Data Source Review
2,NaN,NaN,22804542,10/4/2021 12:32,AIE Support,Account Management,On Hold - Pending Supervisor Review
3,NaN,NaN,22847397,10/14/2021 11:13,AIE Support,AIE Product Enhancement,New
4,NaN,NaN,22835693,10/12/2021 6:25,AIE Support,Account Management,On Hold - Pending Customer Response

In [80]:
dataset.tail()

,QA Rating,QA Score,Case Number,Date,Type,Case Reason,Status
12933,NaN,NaN,22948248,11/9/2021 12:37,Vin Gateway,Account Management,Closed - Complete
12934,NaN,NaN,22980516,11/17/2021 14:53,Vin Gateway,Account Management,Closed Resolved
12935,NaN,NaN,22968184,11/15/2021 13:56,Vin Gateway,Account Management,Closed Resolved
12936,NaN,NaN,22967850,11/15/2021 10:58,Vin Gateway,Account Management,Closed Resolved
12937,NaN,NaN,22915993,11/1/2021 10:30,Vin Gateway,Account Management,Closed Resolved

In [81]:
<h3 style="color: #00008B">1.3 Revisar los Encabezados</h3>

SyntaxError: invalid syntax (<ipython-input-81-15b66b6786f5>, line 1)

In [82]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12938 entries, 0 to 12937
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   QA Rating    452 non-null    object
 1   QA Score     451 non-null    float64
 2   Case Number  12938 non-null  int64
 3   Date         12938 non-null  object
 4   Type         12938 non-null  object
 5   Case Reason  12751 non-null  object
 6   Status       12938 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 707.7+ KB

In [83]:
dataset.columns

Index(['QA Rating', 'QA Score', 'Case Number', 'Date', 'Type', 'Case Reason',
       'Status'],
      dtype='object')

<h2 style="color: #483D8B"> 2. Datos Faltantes o Perdidos</h2>

<h3 style="color: #2F4F4F"> 2.1 Identificacion de Valores Faltantes o Perdidos y Estandarización </h3>

In [84]:
dataset

,QA Rating,QA Score,Case Number,Date,Type,Case Reason,Status
0,NaN,NaN,22889538,10/25/2021 12:14,AIE Support,Account Management,Deferred
1,NaN,NaN,22822766,10/7/2021 13:24,AIE Support,Account Management,On Hold - Pending Data Source Review
2,NaN,NaN,22804542,10/4/2021 12:32,AIE Support,Account Management,On Hold - Pending Supervisor Review
3,NaN,NaN,22847397,10/14/2021 11:13,AIE Support,AIE Product Enhancement,New
4,NaN,NaN,22835693,10/12/2021 6:25,AIE Support,Account Management,On Hold - Pending Customer Response
...,...,...,...,...,...,...,...
12933,NaN,NaN,22948248,11/9/2021 12:37,Vin Gateway,Account Management,Closed - Complete
12934,NaN,NaN,22980516,11/17/2021 14:53,Vin Gateway,Account Management,Closed Resolved
12935,NaN,NaN,22968184,11/15/2021 13:56,Vin Gateway,Account Management,Closed Resolved
12936,NaN,NaN,22967850,11/15/2021 10:58,Vin Gateway,Account Management,Closed Resolved
12937,NaN,NaN,22915993,11/1/2021 10:30,Vin Gateway,Account Management,Closed Resolved

In [85]:
dataset.replace(np.nan, inplace=True)

QA Rating      None
QA Score       None
Case Number    None
Date           None
Type           None
Case Reason    None
Status         None
dtype: object

In [86]:
dataset.head(5)

,QA Rating,QA Score,Case Number,Date,Type,Case Reason,Status
0,NaN,NaN,22889538,10/25/2021 12:14,AIE Support,Account Management,Deferred
1,NaN,NaN,22822766,10/7/2021 13:24,AIE Support,Account Management,On Hold - Pending Data Source Review
2,NaN,NaN,22804542,10/4/2021 12:32,AIE Support,Account Management,On Hold - Pending Supervisor Review
3,NaN,NaN,22847397,10/14/2021 11:13,AIE Support,AIE Product Enhancement,New
4,NaN,NaN,22835693,10/12/2021 6:25,AIE Support,Account Management,On Hold - Pending Customer Response

In [87]:
dataset.tail(5)

,QA Rating,QA Score,Case Number,Date,Type,Case Reason,Status
12933,Pass,94.23,22948248,11/9/2021 12:37,Vin Gateway,Account Management,Closed - Complete
12934,Pass,94.23,22980516,11/17/2021 14:53,Vin Gateway,Account Management,Closed Resolved
12935,Pass,94.23,22968184,11/15/2021 13:56,Vin Gateway,Account Management,Closed Resolved
12936,Pass,94.23,22967850,11/15/2021 10:58,Vin Gateway,Account Management,Closed Resolved
12937,Pass,94.23,22915993,11/1/2021 10:30,Vin Gateway,Account Management,Closed Resolved

In [159]:
<h3 style="color: #00008B"> 2.2 Contar los Valores Faltantes o Perdidos por Variable</h3>

SyntaxError: invalid syntax (<ipython-input-159-7be9d53bce10>, line 1)

In [152]:
valoresPerdidos = dataset.isnull()
valoresPerdidos.head(5)

   QA Rating  QA Score  Case Number   Date   Type  Case Reason  Status
0       True      True        False  False  False        False   False
1       True      True        False  False  False        False   False
2       True      True        False  False  False        False   False
3       True      True        False  False  False        False   False
4       True      True        False  False  False        False   False

In [153]:
for column in valoresPerdidos.columns.values.tolist():
    print(column)
    print(valoresPerdidos[column].value_counts())
    print("")

QA Rating
False    12904
True        34
Name: QA Rating, dtype: int64

QA Score
False    12904
True        34
Name: QA Score, dtype: int64

Case Number
False    12938
Name: Case Number, dtype: int64

Date
False    12938
Name: Date, dtype: int64

Type
False    12938
Name: Type, dtype: int64

Case Reason
False    12938
Name: Case Reason, dtype: int64

Status
False    12938
Name: Status, dtype: int64

In [160]:
<<h3 style="color: #2F4F4F"> 2.3 Imputar Valores Numericos con la Media</h3>

SyntaxError: invalid syntax (<ipython-input-160-fb897c666b1f>, line 1)

In [155]:
avg_norm = dataset["perdidasNormalizadas"].astype("float").mean(axis=0)
print ("La media de perdidas Normalizadas es: ", avg_norm)

KeyError: 'perdidasNormalizadas'

In [156]:
<h3 style="color: #2F4F4F"> 2.4 Imputar valores String con el más frecuente</h3>

SyntaxError: invalid syntax (<ipython-input-156-458a02b9a992>, line 1)

In [157]:
dataset["QA Rating"].value_counts().idxmax()

'Pass'

In [158]:
dfSetAutos["QA Rating"].replace(np.nan, 'Pass',inplace=True)
dfSetAutos.head(10)

NameError: name 'dfSetAutos' is not defined